.canvas {
  min-height: 95vh;
}

.breadcrumb {
  background-color: white;
  margin-top: -20px;
}

/* the setting below is required for safari */
.row:before,
.row:after {
  display: inline-block;
}

.iframe_gcoos {
  width: 100%;
  min-height: 600px;
  height: auto;
}

div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px 10px;
}
