.canvas {
  margin: 0;
  /* 106px + 2px + 74px -19px */
  padding-top: 165px;
  min-height: 60vh;
  font-family: "proxima-nova", Roboto, 'Helvetica Neue', sans-serif;
  font-style: normal;
}

.breadcrumb {
  background-color: white;
  margin-top: -20px;
}

/* the setting below is required for safari */
.row:before,
.row:after {
  display: inline-block;
}

.iframe_gcoos {
  width: 100%;
  min-height: 600px;
  height: auto;
}

div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px 10px;
}


/* Bootstrap grid system
* Extra small <576px 
* Small ≥576px
* Medium ≥768px
* Large ≥992px
* Extra large ≥1200px
*/

/* Large grid 992-1200 */
@media only screen and (max-width: 1200px) {
  .canvas {
    margin: 0;
    /* 96px + 2px + 38px + 10px space */
    padding-top: 146px
  }
}

/* Medium Grid 768-991 */
@media only screen and (max-width: 992px) {}

/* iPad 768w*1024h
* Small Grid 576-768
*/
@media only screen and (max-width: 768px) {}

/* Mobile (414px max so far)
* Extra Small grid <576px
*/
@media only screen and (max-width: 420px) {
  .canvas {
    /* 75px + 2px + 42px */
    margin: 0;
    padding-top: 129px;
  }

  .footer_main {
    margin: 0 !important;
    padding-bottom: 59px !important;
  }
}
