/* Menu Style ===============*/

.menumn {
  margin-top: 15px;
  display: inline-block;
  vertical-align: top;
  /*width:100%;  background:#7a222e; clear:both;*/

}

.menumn ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.menumn li {
  display: inline-block;
  vertical-align: top;
  padding-right: 1px;
  position: relative;
  z-index: 999;
  letter-spacing: 0.5px;
  margin: 0 0 0 15px;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.menumn ul li.menu-item-has-children {
  /* background:url(../images/arrow-down.png) right center no-repeat; padding-right:15px;*/
}

.menumn ul li.menu-item-has-children {
  padding-right: 0 !important;
}

.menumn li {}

.menumn li ul {
  margin-top: 0;
}

.menumn li.menu-item-has-children em {
  /*	background:url(~assets/images/arrow-down.png) no-repeat right top;
*/
  display: inline-block;
  vertical-align: top;
  width: 13px;
  height: 7px;
  margin: 5px 5px 0;
}

.menumn li.menu-item-has-children li em {
  display: none;
}

.menumn li ul {
  position: absolute;
  width: 200px;
  background: rgba(0, 0, 0, 0.5);
  background: #00a1cb;
  top: 100%;
  left: 5px;
  display: none;
  color: #000;
  padding-top: 2px;
  z-index: 99999 !important;
}

.menumn li:hover ul {
  display: block;
}

.menumn li ul li {
  float: none;
}

.menumn li a {
  font-size: 15px;
  font-family: 'DIN';
  line-height: 22px;
  font-weight: bold;
  color: #222222;
  display: inline-block;
  float: left;
  padding: 0;
  line-height: 1em;
  margin: 0 0 0 5px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.45px;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.menumn #menu-menu-1>li a span {
  display: block;
}

.menumn #menu-menu-1>li.current_page_item>a,
.menumn #menu-menu-1>li.current_page_parent>a,
.menumn #menu-menu-1>li:hover>a {
  color: #00a1cb;
  border-bottom: 2px solid #d80002;
}

.menumn li a:hover {
  /*opacity:0.8;*/
  transition: all 0.0s linear;
  -moz-transition: all 0.0s linear;
  -webkit-transition: all 0.0s linear;
  -o-transition: all 0.0s linear;
}

/*.menumn li:hover > a

{	color:#fff;

	

}

.menumn li:hover li > a

{	color:#000;

}*/

.menumn li ul li {
  width: 100%;
  margin: 0;
  font-size: 15px;
  margin-bottom: 0;
  padding: 0;
  background-image: none;
}

.menumn li ul li a {
  float: none;
  font-family: 'DIN';
  font-weight: 500;
  line-height: 1.20em;
  display: block;
  background: #fff;
  padding-bottom: 5px;
  margin: 0 2px 1px;
  padding: 7px 7px;
  text-transform: none;
  text-align: left;
  font-size: 15px;
  color: #222222;
}

.menumn li ul li a:hover,
.menumn li ul li.current-menu-item>a,
.menumn li ul li ul li.current-menu-item>a {
  color: #00a1cb;
}

.menumn li ul li.current-menu-item>a,
.menumn li ul li a:hover,
.menumn li ul li.current_page_item a {
  color: #00a1cb;
}

.menumn li.current-menu-parent>a {
  color: #00a1cb;
  border-bottom: 2px solid #00a1cb;
}

.menutrigger {
  display: none;
}

.open-mobile-2 {
  display: none;
}

/**/

.menumn li ul.sub-menu ul {
  left: 240px;
  top: 0;
  display: none;
  padding-top: 5px;
  margin-top: -5px;
}

.menumn li ul.sub-menu li:hover ul {
  display: block;
}

.menumn li ul.sub-menu li:hover ul li ul {
  display: none;
}

.menumn li ul.sub-menu li ul li:hover ul {
  display: block;
}

.menumn li ul li {
  float: none;
}

.menumn li.current-menu-item>a,
.menumn li a:hover {
  color: #00a1cb;
  border-bottom: 2px solid #00a1cb;
}

@media only screen and (max-width: 1400px) {
  .menumn ul li.menu-item-has-children {
    padding-right: 5px;
  }

  /**/

}

@media only screen and (min-width: 1025px) and (max-width: 1424px) {
  /* .menumn li a {margin-left: 0px;font-size: 12px;}

	.menumn li.menu-item-has-children em {margin-top: 2px;}

	.menumn li {margin-left: 0px;}*/

  /* .menu-item-has-children {padding-right: 2px !important;} */

}

@media screen and (max-width: 1280px) {
  .menumn li {
    margin: 0;
  }

  /**/

}

@media screen and (max-width: 1200px) {
  .menumn li a {
    margin-left: 0;
    font-size: 14px;
  }

  /**/

}

@media only screen and (min-width: 1025px) and (max-width: 1180px) {
  .menumn li a {
    font-size: 14px;
  }
}

@media screen and (max-width: 1100px) {
  .menumn li a {
    font-size: 12px;
  }

  /**/

}

@media screen and (min-width: 1025px) {
  #cssmenu01 {
    display: block !important;
  }

  .menu-item-has-children:last-child .menumn li ul {
    right: 0 !important;
  }

  .menu-item-has-children {
    /*	background:url(~assets/images/menu-arrow.png) no-repeat center right;
*/
    padding-right: 10px !important;
  }

  /**/

}

@media screen and (max-width: 1024px) {
  .menumn ul li {
    background-image: none;
    padding-right: 0;
  }

  .menumn .pagemn {
    padding-left: 0;
    padding-right: 0;
  }

  .menumn li.current-menu-item>a,
  .menumn li a:hover {
    border-bottom-width: 1px !important;
  }

  #cssmenu01 {
    display: none;
  }

  .menumn {
    margin: 0;
    padding: 0;
    float: none;
    z-index: 999;
    position: relative;
    width: 100%;
  }

  #cssmenu01 {
    background: #272727;
    margin-top: 20px;
    clear: both;
  }

  .menumn ul {
    padding: 10px 10px 10px;
    text-align: center;
  }

  .menumn li ul {
    background: #fff;
    display: block;
    padding: 0;
    position: relative;
    width: auto;
  }

  .menumn li {
    float: none;
    display: block;
    padding-bottom: 0px;
    padding-top: 0;
    background-image: none;
  }

  .menumn li a {
    padding: 6px 10px;
    background: #272727;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    border-bottom: 1px solid #fff;
  }

  .menumn li a:hover {
    background: #00a1cb;
    color: #fff;
  }

  .menumn li ul li a {
    margin: 0 5px;
  }

  .menumn li ul li {
    margin-bottom: 0;
  }

  .c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 48px;
    height: 48px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background .3s;
    transition: background .3s
  }

  .c-hamburger:focus {
    outline: 0
  }

  .c-hamburger span {
    display: block;
    position: absolute;
    top: 22px;
    left: 9px;
    right: 9px;
    height: 4px;
    background: #fff
  }

  .c-hamburger span::after,
  .c-hamburger span::before {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    content: ""
  }

  .c-hamburger--htla.is-active span::after,
  .c-hamburger--htla.is-active span::before,
  .c-hamburger--htra.is-active span::after,
  .c-hamburger--htra.is-active span::before {
    width: 50%
  }

  .c-hamburger span::before {
    top: -10px
  }

  .c-hamburger span::after {
    bottom: -10px
  }

  .c-hamburger--htx {
    background-color: #093f61;
  }

  .c-hamburger--htx span {
    -webkit-transition: background 0s .3s;
    transition: background 0s .3s
  }

  .c-hamburger--htx span::after,
  .c-hamburger--htx span::before {
    -webkit-transition-duration: .3s, .3s;
    transition-duration: .3s, .3s;
    -webkit-transition-delay: .3s, 0s;
    transition-delay: .3s, 0s
  }

  .c-hamburger--htx span::before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform
  }

  .c-hamburger--htx span::after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform
  }

  .c-hamburger--htx.is-active {
    background-color: #f19611
  }

  .c-hamburger--htx.is-active span {
    background: 0 0
  }

  .c-hamburger--htx.is-active span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
  }

  .c-hamburger--htx.is-active span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }

  .c-hamburger--htx.is-active span::after,
  .c-hamburger--htx.is-active span::before {
    -webkit-transition-delay: 0s, .3s;
    transition-delay: 0s, .3s
  }

  .menutrigger {
    display: block;
    margin: 0 0 0 10px;
    width: 48px;
    position: relative;
    right: 0;
    top: 15px;
    float: right;
  }

  .open-mobile-2 {
    color: #fff;
    position: absolute;
    right: 10px;
    top: 3px;
    width: 30px;
    text-align: right;
    width: 40px;
    font-size: 30px !important;
    top: -3px;
    font-weight: 700;
    cursor: pointer;
    display: inline;
  }

  .menumn li ul li a {
    margin: 0;
  }

  .menumn li ul.sub-menu ul {
    padding-top: 0;
  }

  .menumn li:hover ul.sub-menu,
  .menumn li ul.sub-menu {
    display: none;
  }

  .menu-header-menu-container {
    border-top: 2px solid #d61b21;
  }

  /**/

  .menumn li:hover ul.sub-menu,
  .menumn li ul.sub-menu {
    display: none;
  }

  .menumn li ul.sub-menu ul {
    left: 0px;
    top: 5px;
    display: none;
  }

  .menumn li ul.sub-menu ul li a {
    background: #005395;
  }

  .menumn li ul.sub-menu ul li a {
    font-size: 14px;
    color: #fff;
  }

  .menumn li ul.sub-menu li:hover ul {
    display: none;
  }

  .menumn li ul.sub-menu li:hover ul li ul {
    display: none;
    left: 0px;
  }

  .menumn li ul.sub-menu li:hover ul li ul li a {
    background: #2493ad;
  }

  .menumn li ul li a:hover {
    color: #fff;
  }

  .menumn li ul.sub-menu li ul li:hover ul {
    display: none;
  }

  .menumn li ul a {
    text-align: center;
  }

  ul.sub-menu a {
    text-align: center;
  }

  .menumn li ul li {
    border-bottom: 1px solid #ccc;
  }

  .menumn li ul li a {
    text-align: center;
  }

  .menumn li.menu-item-has-children em {
    display: none;
  }

  .menumn li {
    display: block;
    float: none;
    width: 100%;
    padding-right: 0;
  }

  .menumn li a {
    display: block;
    float: none;
    text-align: center;
  }

  .menumn li ul {
    background: none;
  }

  .menumn li ul {
    margin-left: auto;
    margin-right: auto;
    width: 98%;
  }

  .menumn ul li.menu-item-has-children {
    padding-right: 0;
  }

  /**/

}

.stikyh .menutrigger {
  top: 2px;
  right: 2px;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
